[submodule "src/.vim"]
path = src/.vim
url = https://github.com/phanviet/vim-monokai-pro.git

[submodule "src/.var/app/com.github.wwmm.easyeffects/config/easyeffects/output"]
path = src/.var/app/com.github.wwmm.easyeffects/config/easyeffects/output
url = https://github.com/ceiphr/ee-framework-presets.git

[submodule "extras/firefox/chrome/firefox-gnome-theme"]
path = extras/firefox/chrome/firefox-gnome-theme
url = https://github.com/rafaelmardojai/firefox-gnome-theme.git

[submodule "extras/framework/libinput/libinput-config"]
path = extras/framework/libinput/libinput-config
url = https://gitlab.com/warningnonpotablewater/libinput-config.git

[submodule "test/bats"]
path = test/bats
url = https://github.com/bats-core/bats-core.git

[submodule "test/test_helper/bats-support"]
path = test/test_helper/bats-support
url = https://github.com/bats-core/bats-support.git

[submodule "test/test_helper/bats-assert"]
path = test/test_helper/bats-assert
url = https://github.com/bats-core/bats-assert.git

[submodule "test/test_helper/bats-file"]
path = test/test_helper/bats-file
url = https://github.com/bats-core/bats-file.git
