@import 'firefox-gnome-theme/userChrome.css';

.gnome-icon g {
    fill: #4a4a4a;
}

/* Hide UI elements. */
#appMenu-passwords-button,
#appMenu-zoom-controls2,
#confirmation-hint,
#tracking-protection-icon-container,
#identity-icon-label,
#appMenu-zoom-controls {
    display: none !important;
}

#identity-box[pageproxystate='valid'].extensionPage,
#identity-box[pageproxystate='valid'].chromeUI {
    margin-inline-end: 4px !important;
}

#identity-box[pageproxystate='valid'].extensionPage
    > .identity-box-button[open='true'],
#identity-box[pageproxystate='valid'].extensionPage
    > .identity-box-button:hover:not([open]),
#identity-box[pageproxystate='valid'].chromeUI
    > .identity-box-button[open='true'],
#identity-box[pageproxystate='valid'].chromeUI
    > .identity-box-button:hover:not([open]) {
    background-color: transparent !important;
}

#identity-box[pageproxystate='valid'].extensionPage > .identity-box-button,
#identity-box[pageproxystate='valid'].chromeUI > .identity-box-button {
    padding-inline: 6px !important;
}

/* Extensions button */
#unified-extensions-button {
    /* list-style-image: url("../icons/pan-down-symbolic.svg") !important; */
    list-style-image: url('firefox-gnome-theme/theme/icons/application-x-addon-symbolic.svg') !important;
}

#personal-bookmarks toolbarbutton.bookmark-item {
    padding: 4px 8px !important;
    margin: 2px 2px !important;
}

#personal-bookmarks
    .bookmark-item[scheme]:not([scheme=''])
    > .toolbarbutton-text {
    display: none !important;
}

#personal-bookmarks
    .bookmark-item[scheme]:not([scheme=''])
    > .toolbarbutton-icon {
    margin-inline-end: 0px !important;
}

.tabbrowser-tab[label='New Tab'] .tab-content .tab-icon-image {
    display: none !important;
}

.tabbrowser-tab:not(
        [selected],
        :hover,
        [last-visible-tab='true'],
        [beforeselected-visible='true'],
        [beforehovered='true']
    )::after {
    border-left: 0px !important;
}

.urlbarView {
    border-inline: none !important;
}

:root[tabsintitlebar][sizemode='maximized'] #TabsToolbar .toolbar-items {
    padding: 0 3px !important;
}

@media (prefers-color-scheme: dark) {
    .gnome-icon g {
        fill: #d4d4d4;
    }

    .webextension-browser-action {
        list-style-image: var(
            --webextension-menupanel-image-2x-light,
            inherit
        ) !important;
    }
}
